.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* 等分 */
  align-items: center;
  height:100%;
  background: transparent;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--icon-normal-color, #333); /* 通常時の色 */
}

.button:hover  {
  color: var(--icon-hover-color, #1e90ff); /* ホバー時の色（propsで上書き） */
}

.button svg {
  width: 24px;
  height: 24px;
  fill: currentColor; /* 親のcolorを使う */
}

.nav button:disabled {
  opacity: 0.4;        /* 薄くする */
  cursor: not-allowed; /* カーソルを禁止マークに */
}

.nav button:disabled svg {
  color: gray;         /* アイコン色も変える（fill="currentColor"必須） */
}

